@model IEnumerable<EmprestimoJogos.Models.Jogo>

@{
    ViewData["Title"] = "Jogos";
}

<div class="container">
    <div class="columns">
        <div class="column is-3">
            <aside class="menu">
                <p class="menu-label">
                    Administração
                </p>
                <ul class="menu-list">
                    <li><a asp-controller="Home" asp-action="Index">Totais</a></li>
                    <li><a asp-controller="Amigos" asp-action="Index">Amigos</a></li>
                    <li><a class="is-active" asp-controller="Jogos" asp-action="Index">Jogos</a></li>
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            <h3 class="title">Jogos</h3>
            <a class="button is-info has-text-left" asp-action="Adicionar">Adicionar novo jogo</a>
            <hr />
            <table class="table is-bordered is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Amigo com quem está o jogo</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.JogoID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeAmigo)
                    </td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@item.JogoID">Editar</a> |
                        <a asp-action="Remover" class="remover-jogo" asp-route-id="@item.JogoID">Remover</a>
                    </td>
                </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>  